/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

      /* ヘッダー */
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        position: fixed;
        width: 90%;
        height: 70px;
        top: 0;
        background-color: rgba(255, 255, 255, 0.988);
        border-radius: 35px;
        margin-top: 20px;
        margin-left: 5%;
        z-index: 1000; 
      }
    
      .logo img {
        height: 30px;
        margin-top: 10px;
      }

      .navbar {
        display: flex;
        align-items: center;
      }
    
      .navbar ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;
      }
    
      .navbar a {
        text-decoration: none;
        color: #333;
        font-weight: normal;
      }
    
      .contact-btn {
        background-color: #ffaf3d;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        margin-left: 20px;
      }
       .contact-btn p {
        color: #f9f9f9;
       }
  
  /* Hero Section */
  .hero {
    background-image:url(/img/FV.jpg);
    background-size: cover;
    flex-direction: column;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    color: #6fa156; /* Text color to match the green logo */
    position: relative;
    padding-top: 100px;
    z-index: 1;
  }
  
  .hero-content {
    max-width: 100%;
  }
  
  .hero-logo {
    width: 240px;
    margin-top: 200px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #93c572;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.252);
  }
  
  .scroll-text {
    font-size: 1rem;
    font-weight: 900;
    color: #f9f9f9;
    margin-top: 200px;
    animation: bounce 2s infinite;
  }
  
  .arrow {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 80px;
    margin-left: 29px;
    border-radius: 9999px;
    background-color: #f9f9f9;
    animation: bounce 2s infinite;
  }
  
  .arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    width: 2px;
    height: 45px;
    border-radius: 9999px;
    background-color: #f9f9f9;
    transform: rotate(45deg);
    transform-origin: 50% calc(100% - 2px);
  }

  

  /* スクロールアイコンのアニメーション */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

/* ニュースボックス */
.news {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #ffaf3d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }


.news h2 {
    margin-bottom: 10px;
    text-align: left;
}

.news p {
    text-align: left;
    margin-bottom: 5px;
}
  